body {
    background-color: lightslategray
}

h1 {
    color: blue;
    font-size: 36px;
    font-family: Georgia, serif;
}

p {
    color: darkgreen;
    font-size: 18px;
    font-family: Arial, sans-serif;
}